div {
  background-color: #c7c7c7;
  padding: 20px;
  text-align: center;
}

p {
  color: black;
  padding: 50px;
  margin: 0;
}

#container {
  background-color: #521751;
  /* position: relative; */
}

#container p {
  color: white;
}

#one {
  background-color: #943092;
}

#two {
  background-color: #c95bc7;
  position: sticky;
  top: 20px;
  left: 20px;
}

#three {
  background-color: #dd61db;
}
